[class*="V0cr-SAnDhzAWmPZdrJQJ"], [class*="_23IDiI-F_FxXotrgpY71r8"] {
    background: rgba(14,20,27,var(--menu-bg-opacity,1)) !important;
}

.GamepadMode.friendlist {
    background: none !important;
}

._34nl5vUoFCDYYnmHNL7axB {
    background: none !important;
    box-shadow: none !important;
}