.quickaccessmenu_Container_3DHXr, .quickaccessmenu_Menu_1gJzx {
    border-radius: var(--custom-QAM-Radius) 0px 0px var(--custom-QAM-Radius) !important;
}

.mainmenu_Menu_23IDi, .mainmenu_Open_3apLK, .mainmenu_Container_3vzvO {
    border-radius: 0px var(--custom-Main-Menu-Radius) var(--custom-Main-Menu-Radius) 0px !important;
}

.sfthxkhui6WSgvnbllI_n, ._142LB5XvwS8bxvhYTNkuzq {
    border-radius: var(--custom-Main-Menu-Radius) 0 0 var(--custom-Main-Menu-Radius) !important;
}